# Settings of VO subsystem for UnicoreX

# There are two modes of operation possible (which can be used together):
#  pull - user's authorization attributes are pulled from the specified here vo service
#  push - user gets her attributes form her VO service and attaches them to the request.


# ##########################
# General configuration
# ##########################

# Usually you don't need to change it. 
# Attribute name which can be used to obtain certificate to an account mapping 
#  (if enabled below). This attribute can have multiple values assigned. 
#  If so then random mapping is used (unless defaultXlogin is defined, see below).
#vo.xloginAttribute=urn:unicore:attrType:xlogin

vo.group=/UUDB/SiteA
vo.voServerURI=http://uvos.example.org:7777

# Those attributes specify a truststore, with certificates (not corresponding CA's 
#  certificates!) of trusted VO services. Never use SSL truststore of UnicoreX 
#  for this purpose as it effectively turns off the whole authorization! 
#  It is used for push mode and in pull mode when signature verification is enabled.
vo.truststore.type=keystore
vo.truststore.keystorePath=src/test/resources/votruststore.jks
vo.truststore.keystorePassword=the!server

# It is REQUIRED if pull mode is enabled, and must be this server's URI used to identify 
#  to the VO service. In push mode it is used as this server actor's name (note that 
#  assertions in WS security element with no actor set are also used).
vo.localServerURI=http://example.org:7777


vo.unicoreAttribute.xlogin=urn:unicore:attrType:xlogin
vo.unicoreAttribute.xlogin.default=urn:unicore:attrType:defaultXlogin
vo.unicoreAttribute.role=urn:unicore:attrType:role
vo.unicoreAttribute.role.default=urn:unicore:attrType:defaultRole
vo.unicoreAttribute.virtualOrganisations=urn:SAML:voprofile:group

# ##########################
# PULL mode configuration
# ##########################

# Enable this mode? Default is false
vo.pull.enable=true

# If you want to use VO service ONLY as a replacement of XUUDB (i.e. to store xlogin 
#  mappings and roles) and NOT to use it as a source of other authorization attributes
#  set it to false. Default is true.
vo.pull.enableGenericAttributes=true

# Controls pulled attributes cache. Set to negative integer to disable the caching
#  or to positive number - lifetime in seconds of cached entries. Default is 600 (10mins)
vo.pull.cacheTtl=20

# Address of SAML VO service. Note that this server's CA cert must be present in UnicoreX truststore.
vo.pull.voServerURL=https://localhost:51774/UVOSAssertionQueryService

# Additional security (except transport level which is always on) can be achieved by
#  verification of signatures. The key which is used for verification must be present
#  in vo.truststore (see above) and have an alias defined below. Deafult is true.
vo.pull.verifySignatures=true

# Whether pull mode should be skipped if user sent (or pushed) some attributes with the request.
#  Note that to make this feature work PUSH mode must be enabled AND PULL authorizer must 
#  be invoked AFTER the PUSH authorizer.
vo.pull.disableIfAttributesWerePushed=true

# ##########################
# PUSH mode configuration
# ##########################

# Enable this mode? Default is false
vo.push.enable=false

