# Settings of SAML attribute source subsystem for UnicoreX


# ##########################
# General configuration
# ##########################

# Usually you don't need to change it. 
# Attribute name which can be used to obtain certificate to an account mapping 
#  (if enabled below). This attribute can have multiple values assigned. 
#  If so then random mapping is used (unless defaultXlogin is defined, see below).
#saml.xloginAttribute=urn:unicore:attrType:xlogin

saml.group=/UUDB/SiteA
saml.issuerURI=http://uvos.example.org:7777

# Those attributes specify a truststore, with certificates (not corresponding CA's 
#  certificates!) of trusted VO services. Never use SSL truststore of UnicoreX 
#  for this purpose as it effectively turns off the whole authorization! 
#  It is used for push mode and in pull mode when signature verification is enabled.
saml.truststore.type=keystore
saml.truststore.keystorePath=src/test/resources/samltruststore.jks
saml.truststore.keystorePassword=the!server

# REQUIRED, must be this server's URI used to identify this server to the SAML service
saml.localServerURI=http://example.org:7777

#
# Attribute mappiung from SAML to UNICORE
#
saml.unicoreAttribute.xlogin=urn:unicore:attrType:xlogin
saml.unicoreAttribute.xlogin.default=urn:unicore:attrType:defaultXlogin
saml.unicoreAttribute.role=urn:unicore:attrType:role
saml.unicoreAttribute.role.default=urn:unicore:attrType:defaultRole
saml.unicoreAttribute.virtualOrganisations=urn:SAML:voprofile:group

# If you want to use the SAML service ONLY as a replacement of XUUDB (i.e. to store xlogin 
#  mappings and roles) and NOT to use it as a source of other authorization attributes
#  set it to false. Default is true.
saml.enableGenericAttributes=true

# Controls pulled attributes cache. Set to negative integer to disable the caching
#  or to positive number - lifetime in seconds of cached entries. Default is 600 (10mins)
saml.cacheTtl=20

# Address of SAML VO service. Note that this server's CA cert must be present in UnicoreX truststore.
saml.attributeQueryURL=https://localhost:51774/UVOSAssertionQueryService

# Additional security (except transport level which is always on) can be achieved by
#  verification of signatures. The key which is used for verification must be present
#  in vo.truststore (see above). Default is true.
saml.verifySignatures=true
